<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h2>Using API public from OpenWeather</h2>
        <hr />
        <p>
          Note: Need to log in OpenWeather to get an APIkey to load the data.
        </p>
        <span><a href="http://openweathermap.org">OpenWeather</a></span>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
